<!DOCTYPE html>
<html>

   <head>
      <title>Time Stamp Service | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>use the following examples to get responses from server</h1>
         <ul>
           <li>https://lizard-behavior.glitch.me/December%2015,%202015</li>
           <li>https://lizard-behavior.glitch.me/1450137600000</li>
        </ul>
        <h1>
          the expected response will be :{"unix":1450137600000,"natural":"12/15/2015"}
        </h1>
      </div>
   </body>

</html>
